/* 大山2021ビエイラ逆転2ラン */
body {
    background-image: url("https://hochi.news/images/2021/09/04/20210904-OHT1I51275-L.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }