/* 大山2021逆転3ラン神宮 */
body {
    background-image: url("https://pbs.twimg.com/media/E5xt3p6UUAIAt2x?format=jpg&name=4096x4096") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }